<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Symptom Polls</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
<link rel="stylesheet" href="../css/shards.min.css">
</head>

<body>
	<div th:switch="${polls}" class="container my-5">
		<div class="row">
			<div class="col-md-10">
				<h2 th:case="null">No Symptom Polls yet!</h2>
				<div th:case="*">
					<h2 class="my-5">Symptom Polls</h2>
					<table class="table table-striped table-responsive-md">
						<thead>
							<tr>
								<th>Name</th>
								<th>Start date</th>
								<th>End date</th>
								<th>Questions</th>
								<th>Epidem Event</th>
								<th>Institution</th>
								<th>Edit</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="poll : ${polls}">
								<td class="text-info" th:text="${poll.sympollName}"></td>
								<td class="text-info" th:text="${poll.sympollStartdate}"></td>
								<td class="text-info" th:text="${poll.sympollEnddate}"></td>
								<td><a th:href="@{/poll/{id}/questions(id=${poll.sympollId})}" class="btn btn-primary">Questions</a></td>
								<td class="text-info" th:text="${poll.epidemevent.epieveId}"></td>
								<td><a th:href="@{/poll/{id}/institution(id=${poll.sympollId})}" class="btn btn-primary">Institution</a></td>
								<td><a th:href="@{/poll/edit/{id}(id=${poll.sympollId})}"
									class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a></td>
							</tr>
						</tbody>
					</table>
				</div>
				<p class="my-5">
					<a href="/poll/add" class="btn btn-primary"><i
						class="fas fa-user-plus ml-2"></i></a>
				</p>
			</div>
		</div>
		<div>
			<form th:action="@{/poll/find-by-date}" method="get">
				<h2>Find polls within dates: </h2>
				<input type="text" th:name="startDate" placeholder="Starting Date in format yyy-mm-dd"/>
				<input type="text" th:name="endDate" placeholder="Ending Date in format yyy-mm-dd"/>
				<button class="btn btn-primary" type="submit">Search</button>
			</form>
		</div>
		<div>
			<form th:action="@{/poll/find-by-date-ordered}" method="get">
				<h2>Find polls ordered that include date: </h2>
				<input type="text" th:name="date" placeholder="Date in format yyy-mm-dd"/>
				<button class="btn btn-primary" type="submit">Search</button>
			</form>
		</div>
		<a href="/"><i class="fas fa-home ml-2"></i> Go back to main</a>
	</div>
</body>

</html>